@using PagedList;
@using PagedList.Mvc;

@model IPagedList<VideoLibrary.BusinessEntities.Models.Model.Movie>

<table class="table">
    <tr>
        @*<th>
           SNo
        </th>*@
        <th>
            @Html.ActionLink("Title", "Index", new { sortBy = ViewBag.SortTitleParameter, searchBy = Request.QueryString["searchBy"], searchText = Request.QueryString["searchText"] })
        </th>
        <th>
            @Html.ActionLink("Duration", "Index", new { sortBy = ViewBag.SortDurationParameter, searchBy = Request.QueryString["searchBy"], searchText = Request.QueryString["searchText"] })

        </th>
        <th>
            @Html.ActionLink("Genre", "Index", new { sortBy = ViewBag.SortGenreParameter, searchBy = Request.QueryString["searchBy"], searchText = Request.QueryString["searchText"] })
        </th>
        <th>
            @Html.ActionLink("DateAdded", "Index", new { sortBy = ViewBag.SortDateAddedParameter, searchBy = Request.QueryString["searchBy"], searchText = Request.QueryString["searchText"] })
        </th>
        <th>
            @Html.ActionLink("AddedBy", "Index", new { sortBy = ViewBag.SortAddedByParameter, searchBy = Request.QueryString["searchBy"], searchText = Request.QueryString["searchText"] })

        </th>
        <th></th>
    </tr>

    @if (Model.Count() == 0)
    {
		 <tr>
             <td colspan="6" style="color:#f54128">No records matching your search criteria were found</td>
         </tr>
    }

  @*  @{var counter = 0;}*@
    @foreach (var item in Model)
    {
        //counter++;
        <tr>
            @*<td>
                @counter
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>

                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAdded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddedBy)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
