@using PagedList;
@using PagedList.Mvc;
@model IPagedList<VideoLibrary.BusinessEntities.Models.Model.Movie>
@{
    ViewBag.Title = "Index";
}
<h2>Movie List</h2>
<div class="row">
    <div class="col-md-6">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <p>
            @using (Html.BeginForm("Index", "Movies", FormMethod.Get))
            {
                <b>Search By:</b>
                @Html.RadioButton("searchBy", "None", true) <text>None</text>
                @Html.RadioButton("searchBy", "Title") <text>Title</text>
                @Html.RadioButton("searchBy", "Genre") <text>Genre</text>
                @Html.RadioButton("searchBy", "AddedBy") <text>AddedBy</text><br />

                @Html.TextBox("searchText")
                <input type="submit" value="Search" />
            }
        </p>
    </div>
    <div class="col-md-6">
        <div class="btn-group pull-right movie-options">
            <button type="button" class="btn btn-default movie-list" data-target=".movies-list"><i class="fa fa-list"></i></button>
            <button type="button" class="btn btn-default movie-grid" data-target=".movies-grid"><i class="fa fa-th-large"></i></button>
        </div>
    </div>
</div>
<br />
<div class="movies-list">
    @Html.Partial("_List", Model)

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchBy = Request.QueryString["searchBy"], searchText = Request.QueryString["searchText"], sortBy = Request.QueryString["sortBy"]}),
    new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true, DisplayItemSliceAndTotal = true })

</div>
<div class="movies-grid">
    @Html.Partial("_Grid", Model)
</div>